{% extends 'base.html' %}

{% block content %}

<h1>Sign Up!</h1>

<form method="POST" action="{% url 'signup'%}">
    {% csrf_token %}
    Username:
    <br>
    <input name="username" type="text" value="">
    <br>
    Password:
    <br>
    <input name="password1" type="password" value="">
    <br>
    Confirm Password:
    <br>
    <input name="password2" type="password" value="">
    <br>
    Nickname:
    <br>
    <input name="nickname"  type="text" value="">
    <br>
    Phone number:
    <br>
    <input name="phonenumber"  type="text" value="">
    <br>
    Email:
    <br>
    <input name="email"  type="text" value="">
    <br>
    <br>
    <input class="btn btn-primary" type="submit" value="Sign Up!">
</form>

{% endblock %}