{% extends 'base.html' %}
{% block content %}

<!-- NAVIGATION -->
<div id="navigation">
	<!-- container -->
	<div class="container">
		<div id="responsive-nav">
			<!-- category nav -->
			<div class="category-nav">
				<!--show-on-click-->
				<span class="category-header">카테고리 <i class="fa fa-bars"></i></span>
				<ul class="category-list">
					<li><a href="cate_all.html">전체보기</a></li>
					<li><a href="#">일러스트</a></li>
					<li><a href="#">캐릭터</a></li>
					<li><a href="#">초상화</a></li>
					<li><a href="#">캘리그래피</a></li>
					<li><a href="#">웹툰/만화</a></li>
					<li><a href="#">영상</a></li>
					<li><a href="#">기타</a></li>
				</ul>
			</div>
			<!-- /category nav -->

			<!-- menu nav -->
			<div class="menu-nav">
				<span class="menu-header">Menu <i class="fa fa-bars"></i></span>
				<ul class="menu-list">
					<li><a href="#">의뢰하기</a></li>
					<li><a href="designer.html">디자이너보기</a></li>
					<li><a href="#">고객센터</a></li>
					<li><a href="#">마이페이지</a></li>
				</ul>
			</div>
			<!-- menu nav -->
		</div>
	</div>
	<!-- /container -->
</div>
<!-- /NAVIGATION -->

<!-- HOME -->
<div id="home">
	<!-- container -->
	<div class="container">
		<!-- home wrap -->
		<div class="home-wrap">
			<!-- home slick -->
			<div id="home-slick">
				<!-- banner -->
				<div class="banner banner-1">
					<img src="/myproject/media/photos/1-2.jpg" alt="1-1">
				</div>
				<div class="banner banner-1">
					<img src="/myproject/media/photos/1-2.jpg" alt="">
				</div>
				<div class="banner banner-1">
					<img src="/myproject/media/photos/1-2.jpg" alt="">
				</div>
				<!-- /banner -->
			</div>
			<!-- /home slick -->
		</div>
		<!-- /home wrap -->
	</div>
	<!-- /container -->
</div>
<!-- /HOME -->

<!-- section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /section -->

<!-- section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- section-title -->
			<div class="col-md-12">
				<div class="section-title">
					<h2 class="title">최신 의뢰</h2>
					<div class="pull-right">
						<div class="product-slick-dots-1 custom-dots"></div>
					</div>
				</div>
			</div>
			<!-- /section-title -->

			<!-- banner
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="banner banner-2">
						<div class="thumbnail">
							<img src="./img/banner04.jpg" alt="ban2">
						</div>
					</div>
				</div>
				-->

			<!-- Product Slick -->
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="row">
					<div id="product-slick-1" class="product-slick">
						<!-- Product Single -->
						<div class="product product-single">
							<div class="product-thumb">
								<div class="product-label">
									<span>일러스트</span>
								</div>
								<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> 자세히보기</button>
								<img src="./img/draw01.jpg" alt="">
							</div>
							<div class="product-body">
								<h3 class="product-price">00,000원</h3>
								<h2 class="product-name"><a href="#">그림1제목제목제목제목제목</a></h2>
								<div class="product-btns">
									<button class="main-btn icon-btn"><i class="fa fa-heart"></i> &nbsp;찜하기</button>
									<button class="primary-btn icon-btn"><i class="fa fa-paint-brush"></i>
										&nbsp;의뢰받기</button>
								</div>
							</div>
						</div>
						<!-- /Product Single -->

						<!-- Product Single -->
						<div class="product product-single">
							<div class="product-thumb">
								<div class="product-label">
									<span>일러스트</span>
								</div>
								<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> 자세히보기</button>
								<img src="./img/draw02.jpg" alt="">
							</div>
							<div class="product-body">
								<h3 class="product-price">00,000원</h3>
								<h2 class="product-name"><a href="#">그림2제목제목제목제목제목</a></h2>
								<div class="product-btns">
									<button class="main-btn icon-btn"><i class="fa fa-heart"></i> &nbsp;찜하기</button>
									<button class="primary-btn icon-btn"><i class="fa fa-paint-brush"></i>
										&nbsp;의뢰받기</button>
								</div>
							</div>
						</div>
						<!-- /Product Single -->

						<!-- Product Single -->
						<div class="product product-single">
							<div class="product-thumb">
								<div class="product-label">
									<span>일러스트</span>
								</div>
								<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> 자세히보기</button>
								<img src="./img/draw03.jpg" alt="">
							</div>
							<div class="product-body">
								<h3 class="product-price">00,000원</h3>
								<h2 class="product-name"><a href="#">그림3제목제목제목제목제목</a></h2>
								<div class="product-btns">
									<button class="main-btn icon-btn"><i class="fa fa-heart"></i> &nbsp;찜하기</button>
									<button class="primary-btn icon-btn"><i class="fa fa-paint-brush"></i>
										&nbsp;의뢰받기</button>
								</div>
							</div>
						</div>
						<!-- /Product Single -->

						<!-- Product Single -->
						<div class="product product-single">
							<div class="product-thumb">
								<div class="product-label">
									<span>일러스트</span>
								</div>
								<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> 자세히보기</button>
								<img src="./img/draw04.jpg" alt="">
							</div>
							<div class="product-body">
								<h3 class="product-price">00,000원</h3>
								<h2 class="product-name"><a href="#">그림4제목제목제목제목제목</a></h2>
								<div class="product-btns">
									<button class="main-btn icon-btn"><i class="fa fa-heart"></i> &nbsp;찜하기</button>
									<button class="primary-btn icon-btn"><i class="fa fa-paint-brush"></i>
										&nbsp;의뢰받기</button>
								</div>
							</div>
						</div>
						<!-- /Product Single -->
					</div>
				</div>
			</div>
			<!-- /Product Slick -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /section -->



<!-- section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h2 class="title">HOT 디자이너</h2>
				</div>
			</div>
			<!-- section title -->

			<!-- Designer Single -->
			<div class="col-md-3 col-sm-6 col-xs-6">
				<div class="designer designer-single">
					<div class="designer-thumb">
						<button class="main-btn quick-view"><i class="fa fa-home"></i><br>페이지로이동</button>
						<img src="./img/design01.jpg" alt="">
					</div>
					<div class="designer-body">
						<h2 class="designer-name"><a href="#">디자이너이름1</a></h2>
					</div>
				</div>
			</div>
			<!-- /Designer Single -->

			<!-- Designer Single -->
			<div class="col-md-3 col-sm-6 col-xs-6">
				<div class="designer designer-single">
					<div class="designer-thumb">
						<button class="main-btn quick-view"><i class="fa fa-home"></i><br>페이지로이동</button>
						<img src="./img/design02.jpg" alt="">
					</div>
					<div class="designer-body">
						<h2 class="designer-name"><a href="#">디자이너이름2</a></h2>
					</div>
				</div>
			</div>
			<!-- /Designer Single -->

			<!-- Designer Single -->
			<div class="col-md-3 col-sm-6 col-xs-6">
				<div class="designer designer-single">
					<div class="designer-thumb">
						<button class="main-btn quick-view"><i class="fa fa-home"></i><br>페이지로이동</button>
						<img src="./img/design03.jpg" alt="">
					</div>
					<div class="designer-body">
						<h2 class="designer-name"><a href="#">디자이너이름3</a></h2>
					</div>
				</div>
			</div>
			<!-- /Designer Single -->

			<!-- Designer Single -->
			<div class="col-md-3 col-sm-6 col-xs-6">
				<div class="designer designer-single">
					<div class="designer-thumb">
						<button class="main-btn quick-view"><i class="fa fa-home"></i><br>페이지로이동</button>
						<img src="./img/design04.jpg" alt="">
					</div>
					<div class="designer-body">
						<h2 class="designer-name"><a href="#">디자이너이름4</a></h2>
					</div>
				</div>
			</div>
			<!-- /Designer Single -->

		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /section -->



<!-- FOOTER -->
<footer id="footer" class="section section-grey">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<!-- footer logo -->
				<div class="footer-logo">
					<a class="logo" href="#">
						<img src="./img/main_logo.png" alt="">
					</a>
				</div>
				<!-- /footer logo -->
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<!-- footer info -->
				<div class="footer-info">
					Made by. 7th Likelion Sejong Univ. Boramboram<br>
					@blogSoul @sryung1225 @Boraming
				</div>
				<!-- /footer info -->
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<!-- footer copyright -->
				<div class="footer-copyright">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;
					<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is
					made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
						target="_blank">Colorlib</a>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</div>
				<!-- /footer copyright -->
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</footer>
<!-- /FOOTER -->

<!-- jQuery Plugins -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/nouislider.min.js"></script>
<script src="js/jquery.zoom.min.js"></script>
<script src="js/main.js"></script>

</body>

</html>


{% endblock %}